{% layout "plantilla_base.liquid" %}
{% block contenido %}
<div class="container mt-4">
    <h1>Incidentes</h1>
    <a class="btn botonppal mb-auto" href="/incidentes/crear">Abrir Incidente</a>
    <ul class="list-group mt-3" id="incidentList">
        <h2>Incidentes</h2>
        <ul class="list-group mt-3" id="incidentList">
            {% for comunidad in comunidades %}
            <h2>Incidentes en {{comunidad.nombre}}</h2>
            <table class="table table-striped mb-5">
                <thead>
                    <tr>
                        <th class="col-md-1"><strong>Título</strong></th>
                        <th class="col-md-3"><strong>Descripción</strong></th>
                        <th class="col-md-2"><strong>Entidad</strong></th>
                        <th class="col-md-1"><strong>Establecimiento</strong></th>
                        <th class="col-md-1"><strong>Servicio</strong></th>
                        <th class="col-md-2"><strong>Apertura</strong></th>
                        <th class="col-md-2"><strong>Cierre</strong></th>
                        <th class="col-md-1"><strong>Estado</strong></th>
                        <th class="col-md-2"><strong></strong></th>
                    </tr>
                </thead>
                <tbody>
                    {% for incidente in comunidad.incidentes %}
                    <tr>
                        <td>{{incidente.titulo}}</td>
                        <td>{{incidente.descripcion}}</td>
                        <td>{{incidente.prestacionDeServicio.getEntidad.getNombre}}</td>
                        <td>{{incidente.prestacionDeServicio.getEstablecimiento.getNombre}}</td>
                        <td>{{incidente.prestacionDeServicio.getServicio.getNombre}}</td>
                        <td>{{incidente.aperturaToString}}</td>
                        <td>{{incidente.cierreToString}}</td>
                        <td>{{incidente.estadoToString}}</td>
                        <td>
                            <form method="POST" action="/incidentes/{{this.id}}/cerrar/{{this.comunidadId}}">
                                <button type="submit" class="btn botonppal mb-1">Cerrar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </ul>
</div>
{% endblock %}
